body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  height: 100vh;
  margin: 0;
}

section h1,
section h2,
section h3 {
  margin-bottom: 8px;
}

* {
  box-sizing: border-box;
}
